@font-face {
  font-family: Byekan;
  src: url("/src/assets/font/at10.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/src/assets/font/at10.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/src/assets/font/at10.woff") format("woff"),
    /* Pretty Modern Browsers */ url("/src/assets/font/at10.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("/src/assets/font/at10.svg#svgFontName")
      format("svg"); /* Legacy iOS */
  /* font-display: optional; */
}

@font-face {
  font-family: pelak;
  src: url("/src/assets/fonts/PELAK/Farsi_Numeral/ttf/PelakFA-Medium.ttf");
  font-style: normal;
  font-weight: 100;
}

.v-row {
  margin: 0 !important;
}

html {
  /* scroll-behavior: smooth; */
}

.v-data-table__progress .v-progress-linear__indeterminate.long.primary,
.v-data-table__progress .v-progress-linear__indeterminate.short.primary {
  background-color: #e3c8af !important;
}

* {
  font-family: pelak;
}

.v-messages__message {
  color: red;
}

.v-dialog {
  border-radius: 10px !important;
}

body::-webkit-scrollbar,
#hotel::-webkit-scrollbar,
#nextPage,
.v-dialog::-webkit-scrollbar,
.tour-package-items-parent::-webkit-scrollbar {
  display: none;
}

label {
  text-align: right;
  font-size: 14px !important;
}

.v-tabs:not(.v-tabs--vertical):not(.v-tabs--right)
  > .v-slide-group--is-overflowing.v-tabs-bar--is-mobile:not(
    .v-slide-group--has-affixes
  )
  .v-slide-group__prev {
  display: none !important;
}

#nextPage,
#hotel,
.tour-package-items-parent,
.v-dialog {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  overflow-y: scroll;
}

[v-cloak] {
  display: none;
}

body {
  /* -ms-overflow-style: none; */
  /* IE and Edge */
  /* scrollbar-width: none; */
  /* Firefox */
  /* background-color: #f8f8f8; */
  overflow-x: hidden;
}

.v-btn__content {
  letter-spacing: 0 !important;
}

.triangleHeader {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 17px 0 17px;
  border-color: #ffebee transparent transparent transparent;
}

#imageSlider #app {
  /* background-color: #f8f8f8; */
}

.banerSlider,
.banerSlider .v-image {
  height: 360px !important;
}

/* main setting styles */

* {
  direction: rtl !important;
  color: black;
}

.vpd-header * {
  color: #fff;
}

.ltr {
  direction: ltr !important;
}

.v-otp-input {
  direction: ltr !important;
}

.v-text-field__details {
  display: none;
}

.error--text .v-text-field__details {
  display: block;
}

.row {
  margin: 0 !important;
}

.col {
  padding: 0 !important;
}

.widthAll {
  width: 100%;
}

.heightAll {
  height: 100%;
}

.fixed {
  position: fixed !important;
}

.relative {
  position: relative;
}

.bold {
  font-weight: bold;
}

.absolute {
  position: absolute !important;
}

.cursorPointer {
  cursor: pointer;
}

.hideOver {
  overflow: hidden !important;
}

.hideOver-x {
  overflow-x: hidden;
}

.hideOver-y {
  overflow-y: hidden;
}

.v-text-field__slot label {
  left: auto !important;
  /* right: -8px !important; */
}

.v-textarea label {
  left: auto !important;
  right: 5px !important;
}

.v-text-field.v-text-field--enclosed .v-text-field__details {
  margin-bottom: 0 !important;
}

.v-application--is-ltr .v-text-field .v-label {
  transform-origin: top right !important;
}

.v-text-field--outlined .v-label--avtive {
  transform: translateY(-24px) scale(0.75) !important;
}

.v-application--is-ltr .v-text-field--outlined legend {
  text-align: right !important;
  margin-right: 8px;
}

/* dont read on html */
.justify-center {
  justify-content: center;
}

/* components style */
.title {
  display: inline-block;
}

.underTitle {
  width: 40%;
  border: 1px solid red;
}

.carouselDiv {
  height: 320px;
}

.v-rating button {
  margin: 0;
  padding: 0 !important;
}

.v-application--wrap {
  height: fit-content !important;
  min-height: unset !important;
}

/* header */
.header {
  top: 0;
  right: 0;
  z-index: 222;
}

.sections {
  width: 14.28%;
}

.font-14 {
  font-size: 14px;
}

.headerButtons span {
  cursor: pointer;
  font-size: 14px;
  text-shadow: 0px 0px 0px black;
  z-index: 222;
}

.headerSpan {
  font-size: 14px;
}

.top-bar {
  /* min-height: 50px; */
  /* box-shadow: 0 15px 15px 0 rgb(149 144 144 / 9%); */
  background-color: #ffffff;
  /* position: fixed; */
  top: 45px;
  width: 100%;
  z-index: 222;
  /* box-shadow: 0 20px 35px #fff; */
}

.hotelPage {
  margin-top: 80px !important;
}

.imageDialog .v-dialog {
  overflow: hidden !important;
}

.imageDialog {
  height: 70vh !important;
}

.imageDialog .v-window,
.imageDialog .v-window__container,
.imageDialog .v-image {
  height: 100% !important;
}

/* change dot color */
ul li {
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-right: -1em;
}

.text-right button,
.text-right .v-btn__content {
  text-align: right !important;
  justify-content: flex-start;
}

.text-left button,
.text-left .v-btn__content {
  text-align: left !important;
  justify-content: flex-end;
}
/* text fields */

.v-select__slot label {
  right: -9px !important;
  left: auto !important;
}

.v-application--is-ltr .v-text-field .v-label {
  transform-origin: top right;
}

.v-select__slot input,
.v-text-field__slot input {
  color: #797979 !important;
}

.darkInput input {
  color: #3b3b3b !important;
}

.v-input__icon .notranslate {
  color: #5a5a5a !important;
}

.v-application .title {
  font-family: Byekan !important;
  letter-spacing: 0 !important;
}

.v-text-field__details {
  padding: 0 !important;
}

.v-application--is-ltr .v-messages {
  text-align: right !important;
  font-family: yekan !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.linkParent a {
  text-decoration: none;
}

.linkParent .col:hover {
  background-color: rgb(255, 173, 173);
}

/* timeline */

.v-application--is-ltr .v-timeline--dense:not(.v-timeline--reverse):before,
.v-application--is-rtl .v-timeline--reverse.v-timeline--dense:before {
  right: 47px;
  left: auto;
}

.v-application--is-ltr
  .v-timeline--dense
  .v-timeline-item
  .v-timeline-item__body
  > .v-card:after,
.v-application--is-ltr
  .v-timeline--dense
  .v-timeline-item
  .v-timeline-item__body
  > .v-card:not(.v-card--link):before {
  left: auto;
  right: -10px;
  transform: rotate(180deg);
}

/* expansion panel*/

.v-expansion-panel:before {
  box-shadow: 0 0 0;
}

.roomsExpansion .v-expansion-panels {
  width: fit-content;
}

.v-expansion-panel--active {
  background-color: #f5f5f5 !important;
}

.v-slide-group__next,
.v-slide-group__prev {
  min-width: 30px !important;
}

.v-expansion-panel-header {
  padding: 0 10px !important;
}

.allPeaplesAfter {
  left: 0;
  min-width: 280px;
  background: #fff;
}

.vpd-input-group {
  opacity: 0 !important;
}

.theme--light.v-text-field > .v-input__control > .v-input__slot:before {
  border-color: transparent !important;
}

.codeCheckTrue input,
.codeCheckTrue.v-text-field > .v-input__control > .v-input__slot:before {
  border-color: green !important;
  color: green !important;
}

.codeCheckFalse input,
.codeCheckFalse.v-text-field > .v-input__control > .v-input__slot:before {
  border-color: red !important;
  color: red !important;
}

.theme--light.v-text-field > .v-input__control > .v-input__slot:after {
  transform: scaleX(0);
}

.georgian {
  position: absolute;
  left: 27px;
  bottom: 6px;
  color: red;
  font-weight: bold;
}

#nextPage {
  display: block;
}

.headerBoxFields {
  height: 46px;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 8px 4px;
}

.priceInput input {
  text-align: center;
  font-size: 20px;
  color: #535353 !important;
  width: 135px;
}

.nextpageBoxFields {
  height: 45px;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 8px 4px;
}

.v-text-field--filled > .v-input__control > .v-input__slot {
  min-height: 45px !important;
}

.v-input__slot {
  background: rgb(255 255 255 / 6%) !important;
}

.filledBackground > .v-input__control > .v-input__slot {
  background: #f6f6f6 !important;
}

/* ______________________________________________________________________________menu scrollbar */

.v-menu__content {
  border-radius: 10px !important;
  border-top: 0 !important;
  margin-top: 37px !important;
  overflow-x: hidden;
}

.v-menu__content::-webkit-scrollbar {
  width: 5px;
}

.v-menu__content::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.v-menu__content::-webkit-scrollbar-thumb {
  background: rgb(202, 201, 201);
}

.v-menu__content::-webkit-scrollbar-thumb:hover {
  background: rgb(133, 133, 133);
}

/* ____________________________________________________________________________________________ */

.v-input__icon--append {
  display: none;
}

.v-autocomplete__content {
  margin-top: 0 !important;
}

.indexDiv {
  width: 1200px !important;
}

.flight-go-flesh {
  width: 480px;
}

.next-page-ticket .flight-go-flesh {
  width: 380px;
}

.cardSlider {
  width: 255px;
}

.newesCardSlider {
  width: 370px;
}

.v-expansion-panel--active > .v-expansion-panel-header {
  min-height: 48px !important;
}

.v-slide-group__wrapper {
  justify-content: left !important;
}

.v-tabs:not(.v-tabs--vertical) .v-tab {
  white-space: nowrap;
  letter-spacing: 0;
}

.v-tab {
  width: 25%;
}

.v-alert__content {
  color: #fff;
  font-size: 14px;
  padding-right: 10px;
}

.nextPageButton {
  width: 200px;
}

.footerImagesParent a:nth-child(1) > img,
.footerImagesParent a:nth-child(2) > img {
  height: 80px;
}

.footerImagesParent a:nth-child(3) > img {
  height: 90px;
}

.footerImagesParent a:nth-child(4) > img {
  height: 75px;
}

.footerImagesParent a:nth-child(5) > img {
  height: 75px;
}

.footerImagesParent a:nth-child(6) > img {
  height: 75px;
}

.downloadButton {
  width: 220px;
}

.downloadApp {
  margin-top: 120px !important;
}

.hideArrow .v-input__icon--append i::before {
  content: "";
}

.v-input__icon--prepend i::before {
  margin-left: 25px;
}

.v-input__icon--prepend-inner i::before {
  margin-left: 15px;
}

.filter-card .v-input--selection-controls {
  margin-top: 3px;
}

.filter-card label {
  font-size: 13px !important;
}

.filter-card .v-input--selection-controls__input .v-icon {
  font-size: 21px;
}

.ticketCircle {
  height: 50px;
  width: 50px;
  background-color: #f8f8f8;
  border: 1px solid #efefef;
}

.v-input--selection-controls__input {
  margin-right: 0 !important;
  margin-left: 10px !important;
}

.v-input--selection-controls__input:hover
  .v-input--selection-controls__ripple:before {
  transform: scale(0.8) !important;
}

.theme--dark.v-btn.v-btn--disabled.v-btn--has-bg {
  background-color: #f44336 !important;
  color: #fff !important;
}

.theme--light.v-application {
  /* background-color: #f8f8f8; */
}

/* expansion-panel */

.v-expansion-panels {
  /* display: block !important; */
}

.v-expansion-panel-header {
  /* display: block !important;
  flex-direction: row !important; */
  justify-content: center !important;
  width: 100% !important;
}

.questionPanell {
  display: block !important;
}

.mdi-chevron-down::before {
  color: red;
  font-size: 34px;
}

.flightTicket .v-expansion-panel-header__icon .v-icon.v-icon {
  transition: unset !important;
}

.ticketDetailsTabs .v-expansion-panel-header__icon i {
  bottom: 28px !important;
  top: unset;
}

.flightTicket .mdi-chevron-down::before {
  font-size: 24px;
  top: 5px;
  position: relative;
}

.flightTicket .v-expansion-panel-header--active .mdi-chevron-down::before {
  top: 0;
}

.questionText {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.2px !important;
}

.answerText {
  line-height: 36px;
  text-align: justify;
}

.mobileImageMainPage {
  width: 410px;
  left: 60px;
  bottom: 0;
}

.newYearImageMainPage {
  width: 505px;
  left: 0;
  bottom: 0;
}

.downloadTextLoadig {
  max-width: 500px;
  height: 100px;
}

.sections-card {
  bottom: 80px;
  margin-bottom: -50px;
}

.theme--light.v-label {
  color: rgb(13 13 13);
}

.v-application--is-ltr
  .v-slider--horizontal
  .v-slider__tick
  .v-slider__tick-label {
  transform: rotate(55deg) !important;
  font-size: 12px;
  top: 20px;
  right: -12px;
}

.v-slider__thumb {
  box-shadow: 1px 2px 7px #838383;
  height: 20px;
  width: 20px;
  left: -9px !important;
}

.v-slider__thumb-label {
  background-color: #1abc9c !important;
}

.v-slider__thumb:before {
  display: none;
}

.v-slider__track-container {
  height: 10px !important;
  border-radius: 10px;
  overflow: hidden;
}
/* progress tab */
.v-progress-linear__determinate {
  background: linear-gradient(
    90deg,
    rgba(27, 226, 186, 1) 0%,
    rgba(26, 206, 170, 1) 67%,
    rgba(26, 188, 156, 1) 100%
  );
}

.ticketForm .v-text-field__slot input,
.ticketForm .v-input__slot {
  background: #f1f1f1 !important;
  min-height: 40px;
  border-radius: 15px;
  padding: 0 10px;
}

.ticketForm .v-input__slot[role="button"] {
  margin-top: -15px;
  padding: 7px;
}

.smallInputForm .v-text-field__slot input,
.smallInputForm .v-input__slot,
.smallInputForm .v-input {
  min-height: 10px;
  padding: 5px 10px !important;
  margin: 0 !important;
}

.user-date .v-list-item__content {
  padding: 0 !important;
}

.offCodeIsTrue::after {
  content: "";
  height: 2px;
  width: 70%;
  background-color: #d32f2f;
  position: absolute;
  left: 15%;
  top: 12px;
  transform: rotate(-12deg);
}

.rightSectionTicket {
  width: 70%;
  border-left: 1px dashed #c2c2c2;
}

.leftSectionTicket {
  width: 30%;
}

.dateTicket {
  right: 41%;
}

.typeFlightTicket {
  top: 35px;
}

.theme--light.v-tabs .v-tab--active:before,
.theme--light.v-tabs .v-tab--active:hover:before,
.theme--light.v-tabs .v-tab:focus:before {
  opacity: 0 !important;
}

.next-page-ticket {
  width: 860px;
}

.theme--light.v-expansion-panels .v-expansion-panel {
  /* border: 1px solid #e3e3e3;
  background: transparent !important;
  margin-top: 20px !important;
  box-shadow: 0px 1px 6px #ebebeb; */
}

.questionPanell .v-expansion-panel {
  display: block !important;
  width: 100%;
}

.questionPanell button {
  display: block;
}

.filter-buttons-small-mood {
  top: 100px;
  right: 0;
}

.done-icon {
  width: 300px;
}

.overflow-button
  > .v-input__control
  > .v-input__slot
  > .v-select__slot
  > .v-select__selections
  > input {
  /* display: none !important; */
}

.hide-header-data-tabel .v-data-table-header-mobile {
  display: none;
}

.small-height-input legend {
  height: 40px !important;
}

.small-height-input input {
  text-align: center !important;
  margin-top: 10px !important;
  width: 100%;
}

.small-filter-parent .v-expansion-panel-content__wrap {
  /* display: flex;
  justify-content: space-around; */
}

.small-filter-parent .v-expansion-panel-content__wrap > .v-input--checkbox {
  display: inline-block;
}

.humberger-header-menue
  .v-list-item:hover
  .humberger-header-menue
  .v-list-item
  i,
.humberger-header-menue .v-list-item:hover {
  background-color: #fae1e1 !important;
  color: red !important;
}

.sugestCity::before {
  content: "پرتردد";
  font-size: 12px;
  text-align: center;
  margin-right: 14px;
  color: #878787;
}

.hideArrow .v-text-field__details {
  display: none;
}

/* typeSlider */
.typeSliderMainPage {
  background-color: #f44336;
  text-align: center;
  padding: 20px 0;
  height: 73px;
  overflow: hidden;
}

.typeSliderMainPage span {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}

.overlinePrice::before {
  content: "";
  background-color: red;
  height: 2px;
  width: 79px;
  position: absolute;
  transform: rotate(-11deg);
  top: 13px;
}

.even-odd-tabel th {
  background-color: #e3c8af3d !important;
}

.even-odd-tabel th span {
  font-size: 16px;
}

.even-odd-tabel tbody tr:nth-child(odd) {
  background-color: rgb(255, 255, 255) !important;
}

.even-odd-tabel tbody tr:nth-child(even) {
  background-color: #e3c8af3d !important;
}

.cardButtonsTour {
  min-width: 90% !important;
}

#animation-root,
#root_raychat .raychat_chat_header {
  background-color: #ff1500 !important;
}

.experience-title {
  font-size: 60px;
}

.experience-title2 {
  font-size: 50px;
}

.paragraph {
  line-height: 35px;
}

.main-magazine .v-image {
  height: 120px;
  width: 120px;
}

.menue-list {
  top: 116px !important;
}

.menuHeader {
  width: fit-content !important;
  overflow: unset;
  z-index: 22;
}

.menuHeader .v-list-item__icon {
  display: none !important;
}

.menuHeader .v-list-group__items {
  position: absolute !important;
  top: 47px;
  right: -7px;
  background: #fff;
  width: 122px !important;
}

.v-application--is-ltr
  .v-list--dense.v-list--nav
  .v-list-group--no-action
  > .v-list-group__items
  > .v-list-item {
  padding-left: 0 !important;
  overflow: unset;
}

.v-navigation-drawer__border {
  display: none;
}

.submenu2:hover,
.titleHeader:hover {
  background-color: rgba(49, 49, 49, 0.068);
}

.none-arrow .slick-arrow {
  display: none !important;
}

.submenu {
  display: none;
}

.menuHeader .v-list--dense .v-list-item,
.menuHeader .v-list-item--dense {
  min-height: 29px !important;
}

.submenu:hover {
  display: block;
}

.topMenu:hover + .submenu {
  display: block;
}

.topDivVisa {
  top: 100px;
}

.show-sub-menu {
  display: none;
}

/* .show-sub-menu .v-list--nav, .show-sub-menu .v-list--nav .v-list-item{
  padding-left: 0 !important;
} */

.show-sub-menu-parent:hover .show-sub-menu {
  display: block;
}

.v-application .primary--text {
  color: #6e6e6e !important;
  caret-color: #6e6e6e !important;
}

@media (min-width: 1601px) and (max-width: 1800px) {
  .topDivVisa {
    top: 80px;
  }
}

@media (min-width: 1501px) and (max-width: 1600px) {
  .topDivVisa {
    top: 60px;
  }
}
@media (min-width: 1401px) and (max-width: 1500px) {
  .topDivVisa {
    top: 35px;
  }
}

/* responsive */
@media (min-width: 1264px) and (max-width: 1400px) {
  .topDivVisa {
    top: 40px;
  }

  .v-expansion-panel-header {
    padding: 0 !important;
  }

  .indexDiv {
    width: 1000px !important;
  }

  .priceInput input {
    width: 100px;
  }

  .cardSlider {
    width: 260px;
  }

  .newesCardSlider {
    width: 300px;
  }

  .banerSlider,
  .banerSlider .v-image {
    height: 300px !important;
  }

  .downloadButton {
    width: 185px;
  }

  .downloadButton img {
    width: 150px;
  }

  .flight-go-flesh {
    width: 374px;
  }

  .dateTicket {
    right: 38%;
  }

  .main-magazine .v-image {
    height: 100px;
    width: 100px;
  }

  .footerImagesParent a:nth-child(1) > img,
  .footerImagesParent a:nth-child(2) > img {
    height: 75px;
  }

  .footerImagesParent a:nth-child(3) > img {
    height: 85px;
  }

  .footerImagesParent a:nth-child(4) > img {
    height: 65px;
    margin-top: 7px;
  }

  .footerImagesParent a:nth-child(5) > img {
    height: 67px;
    margin-top: 7px;
  }

  .sections-card {
    bottom: 22px;
    margin-bottom: -5px;
  }
}

@media (min-width: 960px) and (max-width: 1263px) {
  .topDivVisa {
    top: 20px;
  }

  .v-expansion-panel-header {
    padding: 0 15px !important;
  }

  .indexDiv {
    width: 900px !important;
  }

  .priceInput input {
    width: 100px;
  }

  .cardSlider {
    width: 260px;
  }

  .newesCardSlider {
    width: 288px;
  }

  .banerSlider,
  .banerSlider .v-image {
    height: 270px !important;
  }

  .downloadButton {
    width: 185px;
  }

  .downloadButton img {
    width: 150px;
  }

  .mobileImageMainPage {
    width: 370px;
    bottom: 22px;
  }

  .newYearImageMainPage {
    width: 400px;
    bottom: 46px;
  }

  .downloadTextLoadig {
    max-width: 427px;
    height: 100px;
  }

  .flight-go-flesh {
    width: 322px;
  }

  .next-page-ticket .flight-go-flesh {
    width: 380px;
  }

  .dateTicket {
    right: 38%;
  }

  .main-magazine .v-image {
    height: 90px;
    width: 90px;
  }

  .footerImagesParent a:nth-child(1) > img,
  .footerImagesParent a:nth-child(2) > img {
    height: 65px;
  }

  .footerImagesParent a:nth-child(3) > img {
    height: 75px;
  }

  .footerImagesParent a:nth-child(4) > img {
    height: 55px;
    margin-top: 8px;
  }

  .footerImagesParent a:nth-child(5) > img {
    height: 58px;
    margin-top: 8px;
  }

  .sections-card {
    bottom: 40px;
    margin-bottom: -20px;
  }

  @media (min-width: 960px) and (max-width: 1099px) {
    .topDivVisa {
      top: 20px;
    }
  }
}

@media (min-width: 600px) and (max-width: 959px) {
  .topDivVisa {
    top: 20px;
  }

  .paragraph {
    line-height: 29px;
  }

  .headerButtons span {
    width: 25%;
    font-size: 12px;
  }

  .headerButtons .widthAll span {
    width: 100%;
  }

  .imageDialog {
    height: 60vh !important;
  }

  .borderFlight:hover {
    border: 1px solid #b9b9b9;
  }

  .main-magazine .v-image {
    height: 100px;
    width: 100px;
  }

  @media (min-width: 775px) and (max-width: 959px) {
    .indexDiv {
      width: 775px !important;
    }

    .next-page-ticket {
      width: 760px;
    }

    .priceInput input {
      width: 80px;
      font-size: 18px;
    }

    .footerImagesParent a:nth-child(1) > img,
    .footerImagesParent a:nth-child(2) > img {
      height: 90px;
    }

    .footerImagesParent a:nth-child(3) > img {
      height: 85px;
    }

    .footerImagesParent a:nth-child(4) > img {
      height: 70px;
    }

    .footerImagesParent a:nth-child(5) > img {
      height: 72px;
    }

    .cardSlider {
      width: 240px;
    }

    .newesCardSlider {
      width: 370px;
    }

    .banerSlider,
    .banerSlider .v-image {
      height: 232px !important;
    }

    .downloadApp {
      margin-top: 17px !important;
    }

    .downloadTextLoadig {
      max-width: 427px;
      height: 75px;
    }

    .mobileImageMainPage {
      width: 255px;
      bottom: 22px;
    }

    .newYearImageMainPage {
      width: 288px;
      bottom: 36px;
    }

    .flight-go-flesh {
      width: 417px;
    }

    .next-page-ticket .flight-go-flesh {
      width: 310px;
    }

    .main-magazine .v-image {
      height: 120px;
      width: 120px;
    }

    .sections-card {
      bottom: 20px;
      margin-bottom: -4px;
    }
  }

  @media (min-width: 600px) and (max-width: 774px) {
    .indexDiv {
      width: 600px !important;
    }

    .next-page-ticket {
      width: 585px;
    }

    .next-page-ticket .dateTicket {
      right: 30%;
    }

    .v-input--selection-controls__input {
      margin-left: 1px !important;
    }

    h4 {
      font-size: 14px !important;
    }

    .filter-card label {
      font-size: 12px !important;
    }

    .v-application--is-ltr
      .v-slider--horizontal
      .v-slider__tick
      .v-slider__tick-label {
      transform: rotate(90deg) !important;
      font-size: 10px;
      top: 26px;
      right: -11px;
    }

    .sections {
      width: 25%;
    }

    .footerImagesParent a:nth-child(1) > img,
    .footerImagesParent a:nth-child(2) > img {
      height: 70px;
    }

    .footerImagesParent a:nth-child(3) > img {
      height: 76px;
    }

    .footerImagesParent a:nth-child(4) > img {
      height: 60px;
    }

    .footerImagesParent a:nth-child(5) > img {
      height: 62px;
    }

    .cardSlider {
      width: 245px;
    }

    .newesCardSlider {
      width: 290px;
    }

    .banerSlider,
    .banerSlider .v-image {
      height: 180px !important;
    }

    .mobileImageMainPage {
      width: 300px;
      bottom: 22px;
      left: 0;
    }

    .newYearImageMainPage {
      width: 200px;
      bottom: 11px;
    }

    .downloadTextLoadig {
      max-width: 337px;
    }

    .flight-go-flesh {
      width: 290px;
    }

    .next-page-ticket .flight-go-flesh {
      width: 185px;
    }

    .main-magazine .v-image {
      height: 100px;
      width: 100px;
    }

    .sections-card {
      bottom: 18px;
      margin-bottom: 0;
    }

    .newYearcard {
      height: 95px !important;
    }
  }
}

@media (min-width: 600px) {
  .englishDataTabel td {
    font-family: "Roboto", sans-serif !important;
    direction: ltr !important;
  }
}

@media (max-width: 599px) {
  .englishDataTabel td div:nth-child(2) {
    font-family: "Roboto", sans-serif !important;
    direction: ltr !important;
  }
  .topDivVisa {
    top: 50px;
  }

  .hideArrowSm .slick-arrow {
    display: none !important;
  }

  .checkboxFormOpinian {
    width: 100%;
  }

  .menue-list {
    top: 115px !important;
  }

  .paragraph {
    line-height: 31px;
  }

  .ticketButtons button {
    width: 110px !important;
  }

  .theme--light.v-label {
    color: #424242;
  }

  .borderFlight:hover {
    border: 1px solid #b9b9b9;
  }

  .sections {
    width: 25%;
  }

  .sections-card {
    bottom: 0;
    margin-bottom: 10px;
    margin-top: 90px;
  }

  .v-expansion-panel-header {
    padding: 0 5px !important;
    font-size: 12px;
  }

  .font-small-xs,
  .font-small-xs label,
  .v-application .body-2 {
    font-size: 15px !important;
  }

  .font-small-xs i {
    font-size: 18px !important;
  }

  .icon-small-xs {
    font-size: 30px !important;
  }

  .miniSizeHeight {
    height: 200px !important;
  }

  .replyField .v-text-field__slot {
    height: 100px;
  }

  .replyIcon {
    font-size: 35px !important;
    margin-bottom: 30px;
  }

  .imageDialog {
    height: 500px !important;
    width: 95% !important;
  }

  .nextPageButton {
    width: 130px;
    font-size: 12px !important;
  }

  .footerImagesParent a:nth-child(1) > img,
  .footerImagesParent a:nth-child(2) > img,
  .footerImagesParent a:nth-child(3) > img {
    height: 80px;
  }

  .footerImagesParent a:nth-child(4) > img {
    height: 75px;
  }

  .footerImagesParent a:nth-child(5) > img {
    height: 78px;
  }

  .downloadButton {
    width: 135px;
  }

  .downloadButton img {
    width: 107px;
  }

  .headerDiv .indexDiv {
    width: 97% !important;
  }

  .next-page-ticket {
    width: 485px;
  }

  .answerText {
    /* line-height: unset; */
  }

  .mobileImageMainPage {
    width: 214px;
    bottom: 22px;
    left: 0;
  }

  .downloadTextLoadig {
    max-width: unset;
    height: unset;
  }

  .questionText {
    max-width: 77%;
    text-align: right;
    line-height: 22px;
  }

  .v-expansion-panel-content__wrap {
    padding: 15px;
    text-align: justify;
  }

  .downloadApp {
    margin-top: 0 !important;
  }

  .mdi-chat-question::before {
    font-size: 25px;
  }

  .mdi-chevron-down::before {
    color: red;
    font-size: 20px;
  }

  .font-small-title-xs {
    font-size: 18px !important;
  }

  .v-application--is-ltr .v-input--selection-controls__input,
  .v-input--radio-group.v-input--radio-group--row .v-radio {
    margin-right: 0;
  }

  .rightSectionTicket {
    width: 100%;
    border-left: unset;
    border-bottom: 1px dashed #c2c2c2;
  }

  .leftSectionTicket {
    width: 100%;
  }

  .ticketPrice,
  .ticketButtons {
    width: 50% !important;
    /* display:inline-block */
    float: right;
  }

  .flight-go-flesh {
    height: 9px !important;
  }

  .typeFlightTicket {
    top: 32px;
  }

  .filter-buttons-small-mood {
    top: 80px;
  }

  .ticketCircle:nth-child(1) {
    right: -36px !important ;
  }

  .ticketCircle:nth-child(2) {
    left: -36px !important;
  }

  .byReturnRadio .v-input--selection-controls__input {
    margin-left: 5px !important;
  }

  .byReturnRadio .v-input--radio-group__input {
    justify-content: space-evenly;
  }

  .v-menu__content {
    max-height: 180px !important;
  }

  .cardSlider {
    width: 300px;
    margin: 0;
  }

  .tabelTourId.even-odd-tabel td:nth-child(1) {
    border-top: 1px solid #666666 !important;
    border-bottom: 1px solid #757575 !important;
  }

  @media (min-width: 500px) and (max-width: 599px) {
    .indexDiv {
      width: 500px !important;
    }

    .next-page-ticket {
      width: 387px;
    }

    .next-page-ticket .dateTicket {
      right: 38%;
    }

    .newesCardSlider {
      width: 510px;
    }

    .banerSlider,
    .banerSlider .v-image {
      height: 150px !important;
    }

    .flight-go-flesh {
      width: 377px;
    }

    .next-page-ticket .flight-go-flesh {
      width: 325px;
    }

    .multi-flight .flight-go-flesh {
      width: 413px;
    }

    .slick-tour .slick-track {
      margin-right: 106px !important;
    }

    .main-magazine .v-image {
      height: 100px;
      width: 100px;
    }
  }

  @media (min-width: 400px) and (max-width: 499px) {
    .indexDiv {
      width: 400px !important;
    }

    .next-page-ticket {
      width: 387px;
    }

    .newesCardSlider {
      width: 510px;
    }

    .banerSlider,
    .banerSlider .v-image {
      height: 120px !important;
    }

    .flight-go-flesh {
      width: 280px;
    }

    .multi-flight .flight-go-flesh {
      width: 310px;
    }

    .next-page-ticket .flight-go-flesh {
      width: 227px;
    }

    .next-page-ticket .dateTicket {
      right: 33%;
    }

    .dateTicket {
      right: 39%;
    }

    .typeFlightTicket {
      right: 43%;
    }

    .slick-tour .slick-track {
      margin-right: 52px !important;
    }

    .main-magazine .v-image {
      height: 80px;
      width: 80px;
    }
  }

  @media (min-width: 350px) and (max-width: 399px) {
    .indexDiv {
      width: 350px !important;
    }

    .next-page-ticket {
      width: 331px;
    }

    .banerSlider,
    .banerSlider .v-image {
      height: 105px !important;
    }

    .sections {
      width: 25%;
    }

    .flight-go-flesh {
      width: 230px;
    }

    .next-page-ticket .flight-go-flesh {
      width: 180px;
    }

    .multi-flight .flight-go-flesh {
      width: 265px;
    }

    .next-page-ticket .dateTicket {
      right: 30%;
    }

    .dateTicket {
      right: 37%;
    }

    .typeFlightTicket {
      right: 39%;
    }

    .multi-flight .typeFlightTicket {
      right: 44%;
    }

    .cardSlider {
      width: 270px;
    }

    .slick-tour .slick-track {
      margin-right: 40px !important;
    }

    .main-magazine .v-image {
      height: 70px;
      width: 70px;
    }
  }

  @media (min-width: 300px) and (max-width: 350px) {
    .indexDiv {
      width: 300px !important;
    }

    .next-page-ticket {
      width: 285px;
    }

    .sections {
      width: 33%;
    }

    .cardSlider {
      width: 300px;
    }

    .banerSlider,
    .banerSlider .v-image {
      height: 90px !important;
    }

    .flight-go-flesh {
      width: 180px;
    }

    .next-page-ticket .flight-go-flesh {
      width: 130px;
    }

    .multi-flight .flight-go-flesh {
      width: 213px;
    }

    .next-page-ticket .dateTicket {
      right: 25%;
    }

    .dateTicket {
      right: 34%;
    }

    .multi-flight .dateTicket {
      right: 32%;
    }

    .typeFlightTicket {
      right: 35%;
    }

    .multi-flight .typeFlightTicket {
      right: 41%;
    }

    .slick-tour .slick-track {
      margin-right: 0 !important;
    }

    .main-magazine > div > .row > div:nth-child(1) {
      display: none !important;
    }

    .main-magazine > div > .row > div:nth-child(2) {
      width: 100% !important;
    }
  }
}
